/* Add this CSS to your App.css or a separate stylesheet */

/* Make the Appbar and Navbarmenu fixed at the top */
.Appbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1; /* Ensure the Appbar is above other content */
  }
  
  .Navbarmenu {
    position: fixed;
    top: 90px; /* Adjust this value to leave space for the Appbar */
    left: 0;
    right: 0;
    z-index: 1; /* Ensure the Navbarmenu is above other content */
  }
  
  /* Set padding for the content below the fixed elements */
  main {
    padding-top: 160px; /* Adjust this value to leave space for both fixed elements */
  }
  /* Automatically align Navbarmenu with the bottom of Appbar */

  /* Media query for mobile devices */
@media (max-width: 576px) {
  .Appbar,
  .Navbarmenu {
    /*position: static; /* Change position to static for mobile view */
    /*top: 70px;*/
    padding: 0; /* Remove padding */
  }

  main {
    padding-top: 140px; /* Remove padding for mobile view */
  }
}